@import "src/style/variables";

.btn {
  display: block;
  margin: 0 auto 0 auto;
  width: 182px;
  height: 72px;
  background: $button-color;
  box-shadow: 0 4px 14px rgba(183, 64, 27, 0.2);
  border: none;
  border-radius: 8px;
  font: {
    weight: 300;
    size: 38px;
  };
  color: $title-color;
  cursor: pointer;
}

@media (max-width: $medium-max-width) {
  .btn {
    width: 100px;
    height: 50px;
    font-size: 28px;
  }
}

@media (max-width: $small-max-width) {
  .btn {
    width: 70px;
    height: 30px;
    font-size: 18px;
  }
}

@media (max-width: $extra-small-max-width) {
  .btn {
    width: 100px;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10vh;
  }
}