@import "src/style/variables";

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 182px;
  height: 36px;
  &__name {
    font: {
      weight: 400;
      size: 18px;
    };
    color:$title-color;
    padding-left: 16px;
  }
  &:last-child {
    margin-top: 18px;
  }
}

@media (max-width: $medium-max-width) {
  .item {
    width: 100px;
  }
}

@media (max-width: $small-max-width) {
  .btn {
    width: 70px;
    font-size: 16px;
  }
}

@media (max-width: $extra-small-max-width) {
  .actions {
    display: flex;
    justify-content: space-around;
  }
  .item {
    &:last-child {
      margin-top: 0;
    }
  }
}