@import "src/style/variables";

.screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.table {
  width: 380px;
  &__row {
    position: relative;
  }
}

@media (max-width: $extra-small-max-width) {
  .screen {
    flex-direction: column;
    height: 80vh;
  }
}