$cell-color: rgba(202, 223, 238, 0.6);;
$ship-color: #F3AF2B;
$miss-color: #228558;
$hit-color: #F3AF2B;
$border-color: #000000;
$title-color: #FFFFFF;
$button-color: #ED5323;

$large-max-width: 1200px;
$medium-max-width: 991px;
$small-max-width: 767px;
$extra-small-max-width: 575px;